body{
  width:100vw;
  background-color: #F9E6CF;
  overflow-x: hidden;
}
.navbar{
  background-color: white;
  position:fixed;
  top:0;
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  left:0;
  right:0;
}
.nav-items{
  color:#432316;
  font-weight:bolder;
  font-family:'Times New Roman';
  text-decoration: none;
}
.hello{
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
  color:#432316;
  text-decoration: underline;
}
.nav-links{
  display:flex;
  justify-content: space-evenly;
}
.about-me{
  font-weight:bolder;
  color:rgb(0, 0, 0);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  text-align: center;
}
.skills-section{
  text-align: center;
  color:#432316;
  font-size:2rem;
  text-decoration:underline;
  font-family: 'Times New Roman', Times, serif;
}
.about-skills{
  font-size:1em;
  font-weight:bolder;
  color:rgb(0, 0, 0);
  padding-left:20px;
}
.skill-info{
  display:flex;
  flex-direction: row;
}
.skill-img{
  padding-left:30px;
  padding-top:30px;
}
.skill-intro{
 display: flex;
 flex-direction: row;
 align-items: center;
  padding-left:20px;
}
.project-gallery{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  margin-left:15px;
  margin-right:0;
}
.about-projects{
  color:#432316;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
}
.project-info{
  color:rgb(0, 0, 0);
  font-size:1em;
  font-weight:bolder;
  padding-left:20px;
}
.project-item{
   border-radius: 8px;
}
.follow-me{
   font-style: italic;
   font-size:1.5rem;
   color:#432316;
   font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
   text-decoration: underline;
   padding-left:30px;
}
.social-link{
  display:flex;
  justify-content: space-around;
}
.link-names{
   display:flex;
   flex-direction: row;
   align-items: center;
   margin-left:10px;
}
.username{
  padding-left:10px;
}
.designed-by{
  color:#432316;
  font-style: italic;
  font-weight: bolder;
  text-align: right;
  padding-right:30px;
}


@media (max-width:375px){
  body{
  width:100%;
  }
  .project-gallery{
    display:grid;
    grid-template-columns:repeat(2,1fr);
  }
}